.desktop {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #0078d4;
}

.wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?q=80&w=2574&auto=format&fit=crop') no-repeat center center;
    background-size: cover;
}